<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
</head>
<body>
    <h1>Department Records</h1>
    <table border="1" style="height:10px; width:25%;">
        <tr>
            <th>SN.</th>
            <th>Department Name</th>
            <th>Number of Course</th>
            <th>Number of Teachers</th>

        </tr>
    {% for x in department %}
        <tr>
            <td> {{x.id}} </td>
            <td> {{x.department_name}} </td>
            <td> {{x.course_number}} </td>
            <td> {{x.teacher_number}} </td>
            <td><a href="update_dept/{{ x.id }}">Update</a></td>
            <td><a href="delete_dept/{{ x.id }}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
    <p>
        <a href="add_dept/">
            <input type="button" value="Add Departments">
        </a>
    </p>
</body>
</html>