<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Department</title>
</head>
<body>
    <h1>Update Department</h1>
    <form action="update_department/{{department.id}}" method="post">
        {% csrf_token %}
        Department Name:<br>
        <input name="department_name" value="{{department.department_name}}"><br>
        Course Number: <br>
        <input name="course_number" value="{{department.course_number}}"><br>
        Number of teachers:
        <input name="teacher_number" value="{{department.teacher_number}}">
        <br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>