<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
    <h1>Update information</h1>
    <form action="updaterecord/{{students.id}}" method="post">
        {% csrf_token %}
        First Name:<br>
        <input name="firstname" value="{{students.firstname}}"><br>
        Last Name: <br>
        <input name="lastname" value="{{students.lastname}}"><br>
        Date of Birth (YYYY-MM-DD):<br>
        <input name="dob" value="{{students.dob}}"><br>
        Roll Number:<br>
        <input name="roll_number" value="{{students.roll_number}}"><br>
        Department Name:<br>
        <input name="department_name" value="{{students.department_name}}"><br>
        Course Name:<br>
        <input name="course_name" value="{{students.course_name}}"><br>
        Semester Number:<br>
        <input name="semister_number" value="{{students.semister_number}}"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>